.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Full viewport height
    justify-content: space-between; // Pushes children to start and end of container
    position: relative; // Needed for absolute positioning context for children
    z-index: 0;
}

.bkg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../public/images/music-back.png');
    background-size: cover;
    z-index: 0; // Lower than other content
}

.page-header {
    font-family: 'Exo2';
    height: 5vh;
    z-index: 10; // Ensure it's above the background
    color: white; // Adjust for visibility
}

.explorer-blurb {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-family: 'Exo2';
    color: white; // Adjust for visibility
    z-index: 1; // Above background
    margin: 10vh auto 0; // Adjust as needed
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; // Removes underline from link
    font-family: 'Exo2';
    font-size: 16px;
    transition: background-color 0.3s;
    z-index: 3;

    &:hover {
        background-color: #0056b3;
        cursor: pointer;
    }
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; // Vertically center the content
    width: 100vw;
    height: auto;
    z-index: 3; // Ensure it's above the background and other content
    // Add a temporary background color for debugging
}

.filler {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-family: 'Exo2';
    z-index: 1; // Above background
}

.navigation-pane {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1; // Ensure it's above the background
}
