@font-face {
    font-family: 'Exo2';
    src: url('../public/fonts/exo2.ttf') format('truetype');
}

.backgroundContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; // Behind everything else
    background-image: url('../public/images/smoothback1.jpg');
    background-size: 120%; // Start at 120%
    background-position: center;
    animation: backgroundRotateScale 600s linear infinite, fadeIn 4s ease-out;
    transform-origin: center center;
}

.musicPageContainer {
    animation: fadeIn 4s ease-out;
    min-height: 100%;
    width: 100%;
    padding-top: 55px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;

    .pageHeader {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the start (left) */
        background-color: black;
        color: white;
        width: 100%;
        border-bottom: 2px solid white;
        text-align: left; /* Align text to the left */
        padding: 10px 10px;
        overflow-y: auto;
    }
    
    h1 {
        font-family: 'Exo2';
        text-align: center;
        width: auto;
        color: #f0e7e4;
        font-size: 1.5em;
        font-weight: bold;
    }

    .blurb {
        font-family: 'Exo2';
        width: auto;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: black;
        text-align: center;
    }
    .color-legend {
        list-style: none;
        padding-left: 10px;
        li {
            margin-bottom: 5px;
            position: relative;
            padding-left: 20px;
            &.blue:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 10px;
                width: 10px;
                background-color: blue;
                border-radius: 50%;
            }
            &.green:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 10px;
                width: 10px;
                background-color: green;
                border-radius: 50%;
            }
            &.red:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 10px;
                width: 10px;
                background-color: red;
                border-radius: 50%;
            }
            &.yellow:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 10px;
                width: 10px;
                background-color: yellow;
                border-radius: 50%;
            }
            &.white:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 10px;
                width: 10px;
                background-color: white;
                border-radius: 50%;
            }
        }
    }
}


@keyframes backgroundRotateScale {
    from {
        transform: rotate(0deg) scale(2);
    }
    to {
        transform: rotate(-360deg) scale(5);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .pageHeader {
        max-height: 200px;
        overflow-y: auto;
    }
}